@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
body {
    margin: 0;
    padding: 0;
    font-family: 'DM Sans', sans-serif;
    background-color: #EBE7F3;
}
.contact-section {
    width: 100%;
    height: 100vh;
    background-color: #EBE7F3;
    display: flex;
    justify-content: space-between; 
    align-items: center;
    animation: fadeIn 2s ease-in-out;
}
.image-urbannest{
    width: 35%;
    margin-right: 100px;
}
.image-urbannest img{
    width: 100%;
    height: auto;
    animation: slideInLeft 1s ease-in-out;
}
form {
    width: 27%; 
    height: auto;
    max-width: 600px;
    padding: 30px; 
    margin-left: 120px;
    background-color: var(--black-two-color);
    border-radius: 10px;
    animation: slideInRight 1s ease-in-out;
}


input[type="text"],
input[type="email"],
textarea {
    width: calc(100% - 20px);
    margin-bottom: 10px;
    padding: 10px; 
    border: none;
    border-radius: 50px;
    box-sizing: border-box;
    animation: fadeIn 1s ease-in-out;
}
textarea {
    height: 80px; 
    width: calc(100% - 20px);
    margin-bottom: 10px;
    border-radius: 10px;
    animation: fadeIn 1s ease-in-out;
}
.send button{
    width: 100px;
    padding: 10px; 
    border: none;
    border-radius: 50px;
    background-color: #EBE7F3;
    font-size: 14px; 
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
    animation: bounceIn 1s ease-in-out;
}
.send button:hover {
    color: var(--primary-color);
    transform: scale(1.05);
}
.form-row {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    animation: fadeIn 1s ease-in-out;
}
.form-group {
    font-family: 'DM Sans', sans-serif;
    font-size: large;
    flex: 1;
}
label {
    display: block;
    color: #FFF;
    margin-bottom: 5px;
    animation: fadeIn 1s ease-in-out;
}
h2 {
    color: #EBE7F3;
    text-align: left;
    font-size: 30px; 
    font-family: 'DM Sans', sans-serif;
    top: 0;
    margin-top: 0%;
    margin-right: 0%;
    margin-bottom: 10px; 
    animation: slideInDown 1s ease-in-out;
}
p {
    color: #EBE7F3;
    text-align: justify;
    font-size: 12px;
    font-family: 'DM Sans', sans-serif;
    font-style: italic;
    font-weight: 300;
    margin-bottom: 20px;
    animation: slideInUp 1s ease-in-out;
}
.enviar {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}


@media screen and (max-width: 870px) {
    .contact-section {
        flex-direction: column;
    }

    form {
        width: 85%;
        height: auto;
        position: relative;
        left: 0;
        top: 1em;
        padding: 20px;
        transform: translateX(-10%);
    }

    .form-row {
        flex-direction: column;
    }

    .form-group {
        width: 100%;
    }

    h2 {
        font-size: 40px;
    }

    p {
        font-size: 16px;
    }

    .image-urbannest {
        display: none;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes slideInLeft {
    from {
        transform: translateX(-100%);
    }

    to {
        transform: translateX(0);
    }
}

@keyframes slideInRight {
    from {
        transform: translateX(100%);
    }

    to {
        transform: translateX(0);
    }
}

@keyframes bounceIn {
    from {
        transform: scale(0.5);
    }

    to {
        transform: scale(1);
    }
}

@keyframes slideInDown {
    from {
        transform: translateY(-100%);
    }

    to {
        transform: translateY(0);
    }
}

@keyframes slideInUp {
    from {
        transform: translateY(100%);
    }

    to {
        transform: translateY(0);
    }
}

@media screen and (max-width: 640px) {
    form {
        width: 75%;
        height: auto;
        position: relative;
        left: 0;
        top: 1em;
        padding: 20px;
        transform: translateX(-12%);
    }
}

@media screen and (max-width: 570px) {
    form {
        width: 65%;
        height: auto;
        position: relative;
        left: 0;
        top: 1em;
        padding: 20px;
        transform: translateX(-14%);
    }
}

@media screen and (max-width: 503px) {
    form {
        width: 55%;
        height: auto;
        position: relative;
        left: 0;
        top: 1em;
        padding: 20px;
        transform: translateX(-22%);
    }

    h2 {
        font-size: 205%;
    }

}

@media screen and (max-width: 410px) {
    form {
        width: 55%;
        height: auto;
        position: relative;
        left: 0;
        top: 1em;
        padding: 20px;
        transform: translateX(-27%);
    }

    h2 {
        font-size: 140%;
    }

    p {
        font-size: 85%;
    }

    label {
        font-size: 80%;
    }
}